.fixmenu {
    font-weight:  innerWidth;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 5px;
    background: rgb(20, 32, 54);
    box-shadow: rgb(17, 39, 80);
    transition: 0.2s;
    height: 30px;
    display: block;
}
.fixmenu:hover {
    background: rgb(34, 67, 128);
}

canvas {
    cursor: default;
    display: inline-block;
    width: 800px;
    height: 500px;
    float: right;
    /* margin-left: 250px; */
    margin-top: 10px;
    border: 5px solid rgb(20, 32, 54);
}

#Black {
    background: black;
    color: black;
}
#Black:hover {
    background: #c56a6a;
}
#Red {
    background: #aa0000;
    color: #aa0000;
}
#LightRed {
    background: red;
    color: red;
}
#Blue {
    background: blue;
    color: blue;
}
#LightBlue {
    background: #029AFF;
    color: #029AFF;
}
#Green {
    background: green;
    color: green;
}
#LightGreen {
    background: lime;
    color: lime;
}

.radcontrol {
    width: 30px;
    height: 30px;
    background: rgb(106, 60, 214);
    box-shadow: 0 -3px rgb(111, 37, 153) inset;
    transition: 0.1s;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}   
.radcontrol:hover { background: rgb(151, 104, 212); }
.radcontrol:active {
    background: rgb(124, 33, 147);
    box-shadow: 0 3px rgb(124, 33, 147) inset;
  }

#textRad {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

#incrad {
    float: left;
}

#decrad {
    float: left;
}

#colors {
    float: right;
  }

.swatchactive {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.233), 
                inset 0px 2px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: 10px;
    background: black;
}

.swatchactive {
    border: 2px solid white;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.swatchactive:hover {
    box-shadow: inset 0px 5px 0px rgba(213, 240, 164, 0.938), 
                inset 0px 7px 2px rgb(67, 163, 11);

}
.swatchactive:hover::after {
    content: attr(data-title);
    position: absolute;
    background: rgba(184, 199, 156, 0.938);
    color: rgb(54, 26, 26);
    font-size: 14px;
    z-index: 1;
    padding: 2px;
    border: 1px solid #333333;
}
.toolButton:hover::after {
    content: attr(data-title);
    position: absolute;
    background: rgba(184, 199, 156, 0.938);
    color: rgb(54, 26, 26);
    font-size: 14px;
    z-index: 1;
    padding: 2px;
    border: 1px solid #333333;
}
.toolButton {
    float: right;
    height: 20px;
    width: 20px;
    padding: 8px;
    padding-left: 5px;
    padding-top: 5px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    background-color: #ffaa22;
}
img {
    height: 25px;
    width: 25px;
    background-color: #ffaa22;
}
img:hover {
    background-color: peru;
}
img:active {
    background-color: peru;
}

.toolButton:hover::after {
    
    background-color: #865151;
}
.toolButton:active {
    background: #ce8585;
    box-shadow: 0 5px #c56a6a inset;
}


#color-picker{
    margin:25px;
    display: inline-block;
    width:250px;
    margin-left: 0px;
    float: top;
    } 
#color-values{
    display:block;
    list-style:none;
    color:#222;
    float:left;
    margin:0 0 0 15px;
    padding: 5px;
    text-align:left;
    }
#pcr_bg{
    height:135px;
    }
      
.picker-wrapper, 
.pcr-wrapper {
        position: relative;
        float: left;
    }
.picker-indicator,
.pcr-indicator {
        position: absolute;
        left: 0;
        top: 0;
    }
.picker,
.pcr {
    cursor: crosshair;
    float: left;
}
     
.cp-default .picker {
    width: 200px;
    height: 200px;
}
.cp-default .pcr {
    width: 30px;
    height: 200px;
}
.cp-default .pcr-wrapper {
    margin-left: 10px;
}
.cp-default .picker-indicator {
    width: 5px;
    height: 5px;
    border: 2px solid darkblue;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
    background-color: white;
}
.cp-default .pcr-indicator {
    width: 100%;
    height: 10px;
    left: -4px;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: alpha(opacity=60);
    border: 4px solid lightblue;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
}
#pospicker {
    display: inline-block;
}